n8n_ELAI/n8n0312/01-WORKFLOW-PRINCIPAL-CORREGIDO.json
{
  "name": "01-WORKFLOW-PRINCIPAL-V4-CORREGIDO",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1952,
        -256
      ],
      "id": "4499fe47-ba66-429f-b26b-780480f7ee81",
      "name": "WhatsApp Trigger",
      "webhookId": "tu-webhook-id",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "4eTRV2nzHw6C5COc",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// ===== EXTRAER DATOS DEL MENSAJE DE WHATSAPP =====\nconst data = $json;\nconst sessionId = data?.messages?.[0]?.from || \"unknown\";\nconst messageText = (data?.messages?.[0]?.text?.body || \"\").trim();\nconst contactName = data?.contacts?.[0]?.profile?.name || \"Usuario\";\nconst messageType = data?.messages?.[0]?.type || \"text\";\n\nif (sessionId === \"unknown\") {\n    throw new Error('❌ No se pudo obtener el número de teléfono del remitente');\n}\n\nconsole.log('=== MENSAJE WHATSAPP RECIBIDO ===');\nconsole.log('📱 Session ID:', sessionId);\nconsole.log('💬 Mensaje:', messageText);\nconsole.log('👤 Contacto:', contactName);\nconsole.log('📝 Tipo:', messageType);\n\nreturn {\n    json: {\n        session_id: sessionId,\n        message_text: messageText,\n        contact_name: contactName,\n        message_type: messageType,\n        timestamp: new Date().toISOString()\n    }\n};"
      },
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1712,
        -256
      ],
      "id": "80c90c90-76bc-48f0-ada4-2d1a54793123"
    },
    {
      "parameters": {
        "url": "={{ $('CONFIG').first().json.BACKEND_NGROK_URL }}/api/v1/whatsapp/conversations/{{ $('CONFIG').item.json.session_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $('CONFIG').item.json.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        -256
      ],
      "id": "14a6c82f-95be-444e-95bc-6a6e7312ee8a",
      "name": "Consultar Conversación",
      "alwaysOutputData": true,
      "continueOnFail": true,
      "notes": "CORREGIDO: URL cambiada a /api/v1/whatsapp/conversations/"
    },
    {
      "parameters": {
        "functionCode": "// ===== PREPARAR CONTEXTO UNIFICADO MEJORADO CON CACHÉ =====\n\nconst datosWhatsApp = $('Extraer Datos').first().json;\nconst datosCacheRaw = $('Consultar Caché Diario').first()?.json;\nconst respuestaConversacion = $('Consultar Conversación').first()?.json;\n\nconsole.log('=== PREPARAR CONTEXTO MEJORADO (CON CACHÉ) ===');\nconsole.log('📦 Datos Caché RAW:', JSON.stringify(datosCacheRaw, null, 2));\nconsole.log('💾 Datos BD:', respuestaConversacion ? 'Existe' : 'No existe');\n\n// Inicializar contexto base\nlet contexto = {\n    // Datos del mensaje actual\n    session_id: datosWhatsApp.session_id,\n    message_text: datosWhatsApp.message_text,\n    contact_name: datosWhatsApp.contact_name,\n    message_type: datosWhatsApp.message_type,\n    timestamp: datosWhatsApp.timestamp,\n\n    // Credenciales (inicialmente vacías)\n    token: null,\n    paciente_id: null,\n    paciente_nombre: null,\n    entidad_medica_id: null,\n    conversacion_id: null,\n\n    // Flags de estado\n    tiene_token: false,\n    es_usuario_nuevo: true,\n    conversacion_activa: false,\n    fuente_datos: 'NINGUNA'\n};\n\n// ========================================================================\n// FUNCION AUXILIAR: parsearCache (solo acepta si tiene paciente_id Y token)\n// ========================================================================\nfunction parsearCache(datosCacheRaw) {\n    if (!datosCacheRaw) {\n        return null;\n    }\n\n    // Caso 1: Redis devuelve {value: \"...\"}\n    if (datosCacheRaw.value) {\n        try {\n            let parsed = datosCacheRaw.value;\n            if (typeof parsed === 'string') {\n                try {\n                    parsed = JSON.parse(parsed);\n                } catch (e) {\n                    console.warn('⚠️ No se pudo parsear value, se usa como está');\n                }\n            }\n            // ✅ VALIDACIÓN CRÍTICA: debe tener AMBOS\n            if (parsed && parsed.paciente_id && parsed.token) {\n                return parsed;\n            }\n            return null; // Si falta token, NO es válido\n        } catch (error) {\n            console.error('❌ Error procesando caché:', error);\n            return null;\n        }\n    }\n\n    // Caso 2: Redis devuelve string JSON directamente\n    if (typeof datosCacheRaw === 'string') {\n        try {\n            const parsed = JSON.parse(datosCacheRaw);\n            if (parsed && parsed.paciente_id && parsed.token) {\n                console.log('✅ Cache parseado desde string');\n                return parsed;\n            }\n            return null;\n        } catch (error) {\n            console.error('❌ Error parseando string cache:', error.message);\n            return null;\n        }\n    }\n\n    // Caso 3: Redis devuelve objeto ya parseado\n    if (typeof datosCacheRaw === 'object' && datosCacheRaw !== null) {\n        if (datosCacheRaw.paciente_id && datosCacheRaw.token) {\n            console.log('✅ Cache ya está parseado');\n            return datosCacheRaw;\n        }\n        return null; // Incluso si es objeto, si falta token → inválido\n    }\n\n    // Caso 4: Formato desconocido\n    console.warn('⚠️ Formato de cache desconocido:', typeof datosCacheRaw);\n    return null;\n}\n\n// ========================================================================\n// PRIORIDAD 1: USAR CACHÉ REDIS (SOLO si tiene paciente_id Y token)\n// ========================================================================\nconst datosCache = parsearCache(datosCacheRaw);\n\nif (datosCache) {\n    console.log('✅ USANDO DATOS DE CACHÉ REDIS (válido con token)');\n    try {\n        contexto.token = datosCache.token;\n        contexto.paciente_id = Number(datosCache.paciente_id);\n        contexto.entidad_medica_id = Number(datosCache.entidad_medica_id);\n        contexto.conversacion_id = datosCache.conversacion_id ? Number(datosCache.conversacion_id) : null;\n        contexto.paciente_nombre = datosCache.nombre || datosCache.paciente_nombre || datosWhatsApp.contact_name;\n        contexto.documento = datosCache.documento;\n        contexto.tiene_token = true;\n        contexto.es_usuario_nuevo = false;\n        contexto.conversacion_activa = true;\n        contexto.fuente_datos = 'CACHE_REDIS';\n        contexto.validado_at = datosCache.validado_at;\n        contexto.expires_at = datosCache.expires_at;\n\n        console.log('📦 Paciente ID (caché):', contexto.paciente_id);\n        console.log('🔑 Token (caché):', contexto.token ? 'SÍ' : 'NO');\n    } catch (error) {\n        console.error('❌ Error procesando caché:', error.message);\n        // Si falla, pasamos a BD\n    }\n}\n\n// ========================================================================\n// PRIORIDAD 2: Si no hay caché válido, usar BD (respuesta de Consultar Conversación)\n// ========================================================================\nif (contexto.fuente_datos === 'NINGUNA' && respuestaConversacion && respuestaConversacion.data && !respuestaConversacion.error) {\n    const convData = respuestaConversacion.data;\n    if (convData.id) {\n        console.log('✅ USANDO DATOS DE BD (conversación existente)');\n\n        contexto.conversacion_id = convData.id;\n        contexto.entidad_medica_id = convData.entidadMedicaId;\n        \n        if (convData.paciente) {\n            contexto.paciente_id = convData.paciente.id;\n            contexto.paciente_nombre = convData.paciente.nombres + ' ' + convData.paciente.apellidos;\n            contexto.es_usuario_nuevo = false;\n            contexto.conversacion_activa = true;\n        }\n        \n        // Extraer token del contexto si existe\n        if (convData.contexto && convData.contexto.token) {\n            contexto.token = convData.contexto.token;\n            contexto.tiene_token = true;\n        }\n        \n        contexto.fuente_datos = 'BD';\n\n        console.log('💾 Paciente ID (BD):', contexto.paciente_id);\n        console.log('🔑 Token (BD):', contexto.tiene_token ? 'SÍ' : 'NO');\n    }\n}\n\n// ========================================================================\n// PRIORIDAD 3: Usuario nuevo (sin caché válido ni BD con token)\n// ========================================================================\nif (contexto.fuente_datos === 'NINGUNA') {\n    console.log('ℹ️ USUARIO NUEVO - Sin caché válido ni conversación activa con token');\n}\n\nconsole.log('=== CONTEXTO FINAL ===');\nconsole.log('Fuente de datos:', contexto.fuente_datos);\nconsole.log('Paciente ID:', contexto.paciente_id);\nconsole.log('Conversación activa:', contexto.conversacion_activa);\nconsole.log('Es usuario nuevo:', contexto.es_usuario_nuevo);\nconsole.log('Tiene token:', contexto.tiene_token);\nconsole.log('Mensaje:', contexto.message_text);\n\nreturn { json: contexto };"
      },
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -864,
        -256
      ],
      "id": "68647595-34fd-4853-a70a-234eaa5ccfc1",
      "notes": "Unifica datos de WhatsApp + Caché Redis + BD (prioriza caché)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres Sophia, asistente médica de WhatsApp. Tu trabajo es ayudar a pacientes a agendar citas médicas.\n\n## 📋 CONTEXTO ACTUAL\n- Session ID: {{ $json.session_id }}\n- Paciente ID: {{ $json.paciente_id || 'NO DISPONIBLE' }}\n- Entidad Médica ID: {{ $json.entidad_medica_id || 'NO DISPONIBLE' }}\n- Token: {{ $json.tiene_token ? 'DISPONIBLE' : 'NO DISPONIBLE' }}\n- Usuario Nuevo: {{ $json.es_usuario_nuevo ? 'SÍ' : 'NO' }}\n- Conversación Activa: {{ $json.conversacion_activa ? 'SÍ' : 'NO' }}\n- Nombre: {{ $json.paciente_nombre || $json.contact_name }}\n- Mensaje: \"={{ $json.message_text }}\"\n\n---\n\n## 🔐 REGLA #0: DETECCIÓN INTELIGENTE DE ESTADO (CRÍTICO PARA ESCALABILIDAD)\n\n**ANTES DE TOMAR CUALQUIER DECISIÓN, EVALÚA EL ESTADO DEL USUARIO:**\n\n### 🟢 USUARIO YA REGISTRADO (Conversación Activa = SÍ, Paciente ID ≠ NO DISPONIBLE)\n```\nSI conversacion_activa === SÍ Y paciente_id !== NO DISPONIBLE:\n  → El usuario YA está validado y registrado\n  → NUNCA ejecutes tool_validar_paciente\n  → Procede directamente según su solicitud:\n    - Si describe síntomas → tool_clasificar_sintomas\n    - Si pide especialidad → tool_consultar_citas\n    - Si elige horario → tool_agendar_cita\n    - Si quiere cancelar → tool_cancelar_cita\n```\n\n### 🟡 USUARIO NUEVO (Conversación Activa = NO, Paciente ID = NO DISPONIBLE)\n```\nSI conversacion_activa === NO Y paciente_id === NO DISPONIBLE:\n  → Es la primera vez que el usuario interactúa\n  → Analiza el mensaje:\n\n    ✅ Si parece un número de documento (8-15 dígitos):\n       1. Ejecuta SOLO tool_validar_paciente\n       2. NO ejecutes ningún otro tool\n       3. Espera el resultado de validación\n       4. Saluda al paciente por su nombre\n       5. Pregunta en qué puedes ayudar\n       6. FIN - Espera el siguiente mensaje del usuario\n\n    ❌ Si NO es un documento:\n       1. Responde: \"¡Hola! 👋 Soy Sophia. Para ayudarte, necesito tu número de cédula 🆔\"\n       2. NO ejecutes ningún tool\n       3. FIN - Espera la cédula del usuario\n```\n\n**⚠️ REGLA CRÍTICA - EJECUCIÓN SECUENCIAL (NO PARALELA):**\n```\n❌ ERROR FATAL (NUNCA HAGAS ESTO):\nMensaje: \"1234567890\"\n→ Ejecutar tool_validar_paciente ✓\n→ Ejecutar tool_clasificar_sintomas ✗ (ERROR - no hay síntomas aún)\n→ Ejecutar tool_consultar_citas ✗ (ERROR - no hay categoría aún)\n\nResultado: Múltiples errores, usuario confundido\n\n✅ FLUJO CORRECTO (HAZLO ASÍ):\nMensaje: \"1234567890\"\n→ Ejecutar SOLO tool_validar_paciente\n→ Resultado: {nombre: \"Ana López\", paciente_id: 42}\n→ Responder: \"¡Hola Ana! ¿En qué puedo ayudarte hoy? 😊\"\n→ FIN - Esperar siguiente mensaje\n\nNo ejecutes clasificar_sintomas porque el usuario NO ha descrito síntomas\nNo ejecutes consultar_citas porque el usuario NO ha pedido citas ni hay categoría\n```\n\n---\n\n## ⚙️ HERRAMIENTAS DISPONIBLES\n\n### `tool_validar_paciente`\n**Cuándo:** Usuario nuevo envía cédula\n**Validación:** Ninguna (siempre disponible)\n**Ejecutar:** INMEDIATAMENTE, sin anunciar\n\n### `tool_clasificar_sintomas`\n**Cuándo:** Usuario describe síntomas SIN mencionar especialidad\n**Validación:** Requiere `paciente_id !== null`\n**Ejecutar:** INMEDIATAMENTE si pasa validación, sin anunciar\n\n### `tool_consultar_citas`\n**Cuándo:** Después de clasificar O si usuario pide especialidad directa (BYPASS)\n**Validación:** Requiere `entidad_medica_id !== null`\n**Ejecutar:** INMEDIATAMENTE si pasa validación, sin anunciar\n\n### `tool_agendar_cita`\n**Cuándo:** Usuario elige una cita\n**Validación:** Requiere `paciente_id !== null` Y `token !== null`\n**Parámetros:**\n- posicion: número 1-10 si el usuario dice \"la 1\", \"la primera\", etc.\n- agenda_id: el slot_id directo si lo conoces\n- motivo_consulta: descripción breve\n**Ejecutar:** INMEDIATAMENTE si pasa validación, sin anunciar\n\n### `tool_cancelar_cita`\n**Cuándo:** Usuario quiere cancelar\n**Validación:** Requiere `paciente_id !== null` Y `token !== null`\n**Ejecutar:** INMEDIATAMENTE si pasa validación, sin anunciar\n\n### `tool_confirmar_cancelacion`\n**Cuándo:** Usuario confirma cancelación\n**Validación:** Requiere `paciente_id !== null` Y `token !== null`\n**Ejecutar:** INMEDIATAMENTE si pasa validación, sin anunciar\n\n---\n\n## 🎭 PERSONALIDAD\n\n- Empática pero eficiente\n- Usa emojis con moderación 😊\n- No anuncies las ejecuciones de tools\n- Si hay error, ofrece alternativas\n- Si falta contexto, guía al usuario amablemente",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -672,
        -256
      ],
      "id": "d3ef2318-5859-4ee1-94dc-1904f635741e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1500,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -864,
        80
      ],
      "id": "2ae9add3-4156-48e0-8c76-2e20e756944c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BYAMJ9yZa71IxL39",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "description": "USE THIS ONLY when conversacion_activa is NO and paciente_id is NO DISPONIBLE and message looks like a document number (8-15 digits). Automatically passes message_text as query and session_id from context. EXECUTE silently.",
        "workflowId": {
          "__rl": true,
          "value": "1B0BC7UVqfah4n2a",
          "mode": "list",
          "cachedResultUrl": "/workflow/1B0BC7UVqfah4n2a",
          "cachedResultName": "02-SUB-VALIDAR-PACIENTE-V3-CON-CACHE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `$('Preparar Contexto').item.json.message_text`, 'string') }}",
            "session_id": "={{ $('Preparar Contexto').item.json.session_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "6d7f7fe5-6061-4df6-8a23-212e05384b14",
      "name": "tool_validar_paciente",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -464,
        80
      ]
    },
    {
      "parameters": {
        "description": "USE THIS IMMEDIATELY when user describes symptoms WITHOUT mentioning a specialty. Provide: sintomas (user text), paciente_id (from context - OPTIONAL if not available). Returns category. EXECUTE silently, don't announce. IMPORTANT: Only execute if paciente_id is not null.",
        "workflowId": {
          "__rl": true,
          "value": "kyx3rXvRdEs2rXN2",
          "mode": "list",
          "cachedResultUrl": "/workflow/kyx3rXvRdEs2rXN2",
          "cachedResultName": "04-SUB-CLASIFICAR-SINTOMAS-V3-FIXED"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sintomas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sintomas', ``, 'string') }}",
            "paciente_id": "={{ $('Preparar Contexto').item.json.paciente_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sintomas",
              "displayName": "sintomas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "paciente_id",
              "displayName": "paciente_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "5626be0b-f275-42c3-afc5-31848fa88bc9",
      "name": "tool_clasificar_sintomas",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -288,
        80
      ]
    },
    {
      "parameters": {
        "description": "USE THIS IMMEDIATELY after classification OR when user requests specific specialty (bypass). Provide: categoria (string), entidad_medica_id (from context), page (optional, default 1). Returns appointments with slot_id. EXECUTE silently. IMPORTANT: Only execute if entidad_medica_id is not null.",
        "workflowId": {
          "__rl": true,
          "value": "k4DuedyklL6gl6vk",
          "mode": "list",
          "cachedResultUrl": "/workflow/k4DuedyklL6gl6vk",
          "cachedResultName": "05-Consultar_citas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "categoria": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', ``, 'string') }}",
            "entidad_medica_id": "={{ $('Preparar Contexto').item.json.entidad_medica_id }}",
            "token": "={{ $('Preparar Contexto').item.json.token }}",
            "page": "={{ 1 }}",
            "session_id": "={{ $('Preparar Contexto').item.json.session_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "entidad_medica_id",
              "displayName": "entidad_medica_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "page",
              "displayName": "page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "8a6af62c-6f00-420c-9005-42fb84db0621",
      "name": "tool_consultar_citas",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -32,
        96
      ]
    },
    {
      "parameters": {
        "description": "USE THIS IMMEDIATELY when user selects appointment by position (1, 2, 3...) or date. Provide EITHER: posicion (number 1-10) if user says 'la 1', 'la primera', etc. OR agenda_id (slot_id number) if you have the exact slot_id. The system will look up the correct slot_id from Redis mapping. Also provide: motivo_consulta (string). Context provides: paciente_id, session_id, token. EXECUTE silently. IMPORTANT: Only execute if paciente_id and token are not null.",
        "workflowId": {
          "__rl": true,
          "value": "GkCRcpCUVagXSrrw",
          "mode": "list",
          "cachedResultUrl": "/workflow/GkCRcpCUVagXSrrw",
          "cachedResultName": "06-SUB-AGENDAR-CITA-OPTIMIZED"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "agenda_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('agenda_id', ``, 'number') }}",
            "posicion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('posicion', ``, 'number') }}",
            "paciente_id": "={{ $('Preparar Contexto').item.json.paciente_id }}",
            "motivo_consulta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('motivo_consulta', `Consulta general`, 'string') }}",
            "sintomas_json": "={{ $('Preparar Contexto').item.json.sintomas || '' }}",
            "session_id": "={{ $('Preparar Contexto').item.json.session_id }}",
            "token": "={{ $('Preparar Contexto').item.json.token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "agenda_id",
              "displayName": "agenda_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "posicion",
              "displayName": "posicion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "paciente_id",
              "displayName": "paciente_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "motivo_consulta",
              "displayName": "motivo_consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sintomas_json",
              "displayName": "sintomas_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "1d405f0f-63cf-4c13-8b11-87212a073767",
      "name": "tool_agendar_cita",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        176,
        96
      ]
    },
    {
      "parameters": {
        "description": "USE THIS IMMEDIATELY when user wants to cancel. Context provides: paciente_id, token. Returns active appointments list. EXECUTE silently. IMPORTANT: Only execute if paciente_id and token are not null.",
        "workflowId": {
          "__rl": true,
          "value": "0ceZZYqfQcExFkTo",
          "mode": "list",
          "cachedResultUrl": "/workflow/0ceZZYqfQcExFkTo",
          "cachedResultName": "07-SUB-LISTAR-CITAS-ACTIVAS-CORREGIDO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "paciente_id": "={{ $('Preparar Contexto').item.json.paciente_id }}",
            "token": "={{ $('Preparar Contexto').item.json.token }}"
          },
          "schema": [
            {
              "id": "paciente_id",
              "displayName": "paciente_id",
              "required": false,
              "type": "number"
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "type": "string"
            }
          ]
        }
      },
      "id": "2d08dd62-cc76-4c09-b8b2-7070bf2e7fc5",
      "name": "tool_cancelar_cita",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        416,
        96
      ]
    },
    {
      "parameters": {
        "description": "USE THIS IMMEDIATELY when user confirms cancellation. Provide: cita_id (from list). Context provides: paciente_id, token. EXECUTE silently. IMPORTANT: Only execute if paciente_id and token are not null.",
        "workflowId": {
          "__rl": true,
          "value": "sDg9x1DV5iXht1L5",
          "mode": "list",
          "cachedResultUrl": "/workflow/sDg9x1DV5iXht1L5",
          "cachedResultName": "08-SUB-CONFIRMAR-CANCELACION-CORREGIDO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cita_id": "={{ $fromAI('cita_id', '', 'number') }}",
            "paciente_id": "={{ $('Preparar Contexto').item.json.paciente_id }}",
            "token": "={{ $('Preparar Contexto').item.json.token }}"
          },
          "schema": [
            {
              "id": "cita_id",
              "displayName": "cita_id",
              "required": true,
              "type": "number"
            },
            {
              "id": "paciente_id",
              "displayName": "paciente_id",
              "required": false,
              "type": "number"
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "type": "string"
            }
          ]
        }
      },
      "id": "900c091d-e3a7-45be-a03e-bb3111630a80",
      "name": "tool_confirmar_cancelacion",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        608,
        96
      ]
    },
    {
      "parameters": {
        "functionCode": "// ===== PREPARAR RESPUESTA FINAL PARA WHATSAPP =====\n\nconst agentOutput = $json;\nconst contexto = $('Preparar Contexto').first().json;\n\nconsole.log('=== PREPARAR RESPUESTA ===');\nconsole.log('Agent Output:', JSON.stringify(agentOutput, null, 2));\n\n// Extraer el texto de respuesta del agente\nlet outputText = '';\n\nif (typeof agentOutput === 'string') {\n    outputText = agentOutput;\n} else if (agentOutput.output) {\n    outputText = agentOutput.output;\n} else if (agentOutput.text) {\n    outputText = agentOutput.text;\n} else if (agentOutput.message) {\n    outputText = agentOutput.message;\n} else {\n    // Fallback si el formato es inesperado\n    outputText = 'Ups, tuve un problemita. ¿Podrías repetir tu mensaje? 😊';\n    console.error('❌ Formato de respuesta inesperado:', agentOutput);\n}\n\n// Limpiar el texto (remover saltos de línea excesivos, etc)\noutputText = outputText.trim();\n\n// Validar que no esté vacío\nif (!outputText || outputText.length === 0) {\n    outputText = 'Disculpa, no pude procesar eso. ¿Podrías reformular tu mensaje? 😊';\n}\n\nconsole.log('📤 Respuesta final:', outputText);\n\nreturn {\n    json: {\n        output: outputText,\n        session_id: contexto.session_id,\n        timestamp: new Date().toISOString()\n    }\n};"
      },
      "name": "Preparar Respuesta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -320,
        -256
      ],
      "id": "f8669c0b-00a5-4869-898c-d52916bb5f20"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "873759809151718",
        "recipientPhoneNumber": "={{ $json.session_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -80,
        -256
      ],
      "id": "a569b9c7-9dd8-46b8-b4bd-455f672ff175",
      "name": "Send WhatsApp",
      "webhookId": "350d9e74-af24-4dee-8535-a558f05f505f",
      "credentials": {
        "whatsAppApi": {
          "id": "94tKDNJtKoxUGPTH",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -656,
        80
      ],
      "id": "90e6ba11-879d-4755-b7eb-52dc4ebecdf7",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "kOI8a9sT8AozFYEo",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'sophia:session:' + $json.session_id + ':daily-context' }}",
        "options": {}
      },
      "id": "e44d4d87-f6b2-4482-af62-dcdeeffd347a",
      "name": "Consultar Caché Diario",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1296,
        -256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "kOI8a9sT8AozFYEo",
          "name": "Redis account 2"
        }
      },
      "continueOnFail": true,
      "notes": "Consulta caché temporal (válido hasta medianoche). Si existe, evita consultar BD."
    },
    {
      "parameters": {
        "jsCode": "// ===== CONFIGURACIÓN CENTRALIZADA =====\n// ⚠️ EDITAR AQUÍ cuando cambien URLs o valores\n\nconst datosExtraidos = $input.first().json;\n\nconst CONFIG = {\n  // Backend - ⚠️ CAMBIAR ESTA URL cada vez que reinicies ngrok\n  BACKEND_NGROK_URL: \"https://e63044fea749.ngrok-free.app\",\n\n  // Ngrok headers (no cambiar)\n  NGROK_HEADER_NAME: \"ngrok-skip-browser-warning\",\n  NGROK_HEADER_VALUE: \"true\",\n  N8N_WEBHOOK_SECRET: \"TuSecretoSuperSeguro123\",\n\n  // Contacto de la clínica\n  TELEFONO_CLINICA: \"+573001234567\"\n};\n\nconsole.log('=== CONFIG CARGADA ===');\nconsole.log('BACKEND_NGROK_URL:', CONFIG.BACKEND_NGROK_URL);\nconsole.log('Session ID recibido:', datosExtraidos.session_id);\n\n// Pasar CONFIG + datos de Extraer Datos\nreturn {\n  json: {\n    ...CONFIG,\n    ...datosExtraidos  // Preserva session_id, message_text, etc.\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        -256
      ],
      "id": "e4470bb7-bad0-471e-a66c-c574522f3cae",
      "name": "CONFIG"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Conversación": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "tool_validar_paciente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_clasificar_sintomas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_consultar_citas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_agendar_cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_cancelar_cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_confirmar_cancelacion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Caché Diario": {
      "main": [
        [
          {
            "node": "Consultar Conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Consultar Caché Diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "corregido-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11201dd6a30282e05f7379a1403b5b6ea5dc3878308c3a20144a818fa23f5329"
  },
  "id": "XYqdOUer8wKsRAys",
  "tags": []
}
