n8n_ELAI/07-sub-listar-citas-activas.json
{
  "name": "07-SUB-LISTAR-CITAS-ACTIVAS-CORREGIDO",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "paciente_id",
              "type": "string"
            },
            {
              "name": "token"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        176
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "functionCode": "// Validar que el paciente_id sea v\u00e1lido\nconst pacienteId = $json.paciente_id; // String CUID\nconst token = $json.token;\n\nif (!pacienteId) {\n    return { json: { success: false, mensaje: \"ID de paciente inv\u00e1lido\", citas: [] } };\n}\nif (!token) {\n    return { json: { success: false, mensaje: \"Token JWT es requerido\", citas: [] } };\n}\n\nreturn { json: { paciente_id: pacienteId, token: token, validated: true } };"
      },
      "name": "Validar Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -544,
        176
      ],
      "id": "validar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json.validated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -384,
        176
      ],
      "id": "if-valid",
      "name": "\u00bfInput V\u00e1lido?"
    },
    {
      "parameters": {
        "url": "={{ $('CONFIG').first().json.BACKEND_NGROK_URL }}/api/v1/citas/paciente/{{ $json.paciente_id }}/activas/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.token }}"
            },
            {
              "name": "={{ $('CONFIG').first().json.NGROK_HEADER_NAME }}",
              "value": "={{ $('CONFIG').first().json.NGROK_HEADER_VALUE }}"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "HTTP Request Listar Citas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        80
      ],
      "id": "http-request",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Retornar respuesta de la API\nconst response = $json;\n\nreturn { json: response };"
      },
      "name": "Procesar Resultados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        64,
        80
      ],
      "id": "procesar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-response",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "msg",
              "name": "mensaje",
              "value": "ID de paciente inv\u00e1lido",
              "type": "string"
            },
            {
              "id": "total",
              "name": "total_citas",
              "value": 0,
              "type": "number"
            },
            {
              "id": "empty-array",
              "name": "citas",
              "value": "=[]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        256
      ],
      "id": "error",
      "name": "Error Response"
    },
    {
      "parameters": {
        "jsCode": "// ===== CONFIGURACIÓN CENTRALIZADA =====\n// ⚠️ EDITAR AQUÍ cuando cambien URLs o valores\n\n// Si hay input previo (trigger -> extraer datos), lo tomamos. Si no, objeto vacio.\nlet datosExtraidos = {};\ntry {\n    datosExtraidos = $input.first().json;\n} catch(e) {}\n\nconst CONFIG = {\n  // Backend - ⚠️ CAMBIAR ESTA URL cada vez que reinicies ngrok\n  BACKEND_NGROK_URL: \"https://e63044fea749.ngrok-free.app\",\n\n  // Ngrok headers (no cambiar)\n  NGROK_HEADER_NAME: \"ngrok-skip-browser-warning\",\n  NGROK_HEADER_VALUE: \"true\",\n\n  // Secreto Webhook\n  N8N_WEBHOOK_SECRET: \"TuSecretoSuperSeguro123\",\n\n  // Contacto de la clínica\n  TELEFONO_CLINICA: \"(601) 123-4567\"\n};\n\n// Limpiar URL por espacios extra\nif (CONFIG.BACKEND_NGROK_URL) CONFIG.BACKEND_NGROK_URL = CONFIG.BACKEND_NGROK_URL.trim();\n\nconsole.log('=== CONFIG CARGADA ===');\nconsole.log('BACKEND_NGROK_URL:', CONFIG.BACKEND_NGROK_URL);\n\n// Pasar CONFIG + datos anteriores\nreturn {\n  json: {\n    ...CONFIG,\n    ...datosExtraidos\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -504,
        176
      ],
      "id": "config-5ftex0p9f",
      "name": "CONFIG"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "\u00bfInput V\u00e1lido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u00bfInput V\u00e1lido?": {
      "main": [
        [
          {
            "node": "HTTP Request Listar Citas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Listar Citas": {
      "main": [
        [
          {
            "node": "Procesar Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "0ceZZYqfQcExFkTo",
  "tags": []
}