n8n_ELAI/08-sub-confirmar-cancelacion.json
{
  "name": "08-SUB-CONFIRMAR-CANCELACION-CORREGIDO",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "cita_id",
              "type": "string"
            },
            {
              "name": "paciente_id",
              "type": "string"
            },
            {
              "name": "token"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1152,
        48
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "functionCode": "// Validar inputs\nconst citaId = $json.cita_id; // ID Cita (puede ser string o int)\nconst pacienteId = $json.paciente_id; // CUID\nconst token = $json.token;\n\nif (!citaId) {\n    return { json: { success: false, mensaje: \"ID de cita inv\u00e1lido\", valid: false } };\n}\nif (!pacienteId) {\n    return { json: { success: false, mensaje: \"ID de paciente inv\u00e1lido\", valid: false } };\n}\nif (!token) {\n    return { json: { success: false, mensaje: \"Token JWT requerido\", valid: false } };\n}\n\nreturn { json: { cita_id: citaId, paciente_id: pacienteId, token: token, valid: true } };"
      },
      "name": "Validar Inputs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -928,
        48
      ],
      "id": "validar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -752,
        48
      ],
      "id": "if-valid",
      "name": "\u00bfInputs V\u00e1lidos?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CONFIG').first().json.BACKEND_NGROK_URL }}/api/v1/citas/{{ $json.cita_id }}/cancelar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "={{ $('CONFIG').first().json.NGROK_HEADER_NAME }}",
              "value": "={{ $('CONFIG').first().json.NGROK_HEADER_VALUE }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "motivo",
              "value": "Cancelaci\u00f3n solicitada por WhatsApp"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "HTTP Request Cancelar Cita",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        -32
      ],
      "id": "http-request",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Retornar respuesta de la API\nconst response = $json;\n\nif (response.error) {\n    return {\n        json: {\n            success: false,\n            mensaje: 'Error al cancelar la cita',\n            error: response.error\n        }\n    };\n}\n\nreturn {\n    json: {\n        success: true,\n        cita_id: response.cita_id,\n        mensaje: response.mensaje,\n        detalles: response.detalles\n    }\n};"
      },
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -272,
        -80
      ],
      "id": "formatear"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "msg",
              "name": "mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        240
      ],
      "id": "error",
      "name": "Error Input Inv\u00e1lido"
    },
    {
      "parameters": {
        "jsCode": "// ===== CONFIGURACI\u00d3N CENTRALIZADA =====\n// \u26a0\ufe0f EDITAR AQU\u00cd cuando cambien URLs o valores\n\n// Si hay input previo (trigger -> extraer datos), lo tomamos. Si no, objeto vacio.\nlet datosExtraidos = {};\ntry {\n    datosExtraidos = $input.first().json;\n} catch(e) {}\n\nconst CONFIG = {\n  // Backend - \u26a0\ufe0f CAMBIAR ESTA URL cada vez que reinicies ngrok\n  BACKEND_NGROK_URL: \"https://e63044fea749.ngrok-free.app\",\n\n  // Ngrok headers (no cambiar)\n  NGROK_HEADER_NAME: \"ngrok-skip-browser-warning\",\n  NGROK_HEADER_VALUE: \"true\",\n\n  // Secreto Webhook\n  N8N_WEBHOOK_SECRET: \"TuSecretoSuperSeguro123\",\n\n  // Contacto de la cl\u00ednica\n  TELEFONO_CLINICA: \"(601) 123-4567\"\n};\n\n// Limpiar URL por espacios extra\nif (CONFIG.BACKEND_NGROK_URL) CONFIG.BACKEND_NGROK_URL = CONFIG.BACKEND_NGROK_URL.trim();\n\nconsole.log('=== CONFIG CARGADA ===');\nconsole.log('BACKEND_NGROK_URL:', CONFIG.BACKEND_NGROK_URL);\n\n// Pasar CONFIG + datos anteriores\nreturn {\n  json: {\n    ...CONFIG,\n    ...datosExtraidos\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -952,
        48
      ],
      "id": "config-hxd9utpxo",
      "name": "CONFIG"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Inputs": {
      "main": [
        [
          {
            "node": "\u00bfInputs V\u00e1lidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u00bfInputs V\u00e1lidos?": {
      "main": [
        [
          {
            "node": "HTTP Request Cancelar Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Input Inv\u00e1lido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Cancelar Cita": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Validar Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "sDg9x1DV5iXht1L5",
  "tags": []
}